@import "tailwindcss";
@font-face {
    font-family: 'alilato';
    src: url('/fonts/alilato.ttf') format('truetype'); /* Path to the font file */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    direction: rtl;
    text-align: right;
    font-family: 'alilato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
